.option__login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
}

.user__box{
    display: flex;
    justify-content: center;
    align-items: center;   
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 30px;
}

.user__box .user__box__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: white;
    cursor: pointer;
    padding: 7px 15px 7px 18px;
    background: linear-gradient(86.68deg, #7F00FF -5.7%, #E100FF 113.45%);    
    border-radius: 30px;
}

.user__box .user__box__btn > span {
    font-weight: 500;
    font-size: 15px;
}

.user__box .user__box__btn > ion-icon{
    font-size: 14px;
}

.user__box .user__box__option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 280px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    padding: 20px 25px;
    background-color: white;
    border-radius: 12px;
    z-index: 299;
    top: 55px;
    right: 0px;
    row-gap: 15px;
}

.user__box__option__overplay{
    position: fixed;
    background-color: transparent;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.user__box .user__box__option .user__box__option__avt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    column-gap: 12px;
}

.user__box .user__box__option .user__box__option__avt > img{
    border-radius: 30px;
    width: 40px;
}

.user__box .user__box__option .user__box__option__avt > span{
    font-size: 18px;
    font-weight: 900;
}

.user__box .user__box__option .user__box__option__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.user__box__option__logout{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}