.optionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;
    column-gap: 10px;
    z-index: 9;
}

.optionBox .optionBox__share{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 30px;
    background-color: #D9D9D9;
    color: black;
}