.OrderDetailItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 10px;
    row-gap: 15px;
}

.OrderDetailItem__left{
    display: flex;
    column-gap: 10px;
}

.OrderDetailItem__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 54px;
    overflow: hidden;
    border-radius: 3px;
}

.OrderDetailItem__img > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.OrderDetailItem__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3px;
}

.OrderDetailItem__name > h3{
    font-size: 16px;
}

.OrderDetailItem__name > span{
    font-size: 14px;
    font-weight: 500;
    color: #636363;
}

.OrderDetailItem__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 3px;
    font-size: 14px;
}

.OrderDetailItem__right>:first-child{
    color: #636363;
}

.OrderDetailItem__right>:last-child{
    color: black;
    font-weight: 700;
}