.DetailBox{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 25px;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 320px;
}

.DetailBox .detail__item{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.DetailBox > div > span{
    font-size: 15px;
    color: #636363;
    font-weight: 500;
}