.app{
  display: flex;
  flex-direction: column;
}

.contentBox{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
}

.container__content{
  padding: 30px 50px;
}

ion-icon {
  --ionicon-stroke-width: 40px;
}