@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(202, 202, 202);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(168, 168, 168);
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

@media (max-width: 1000px){
  .content{
    width: 100% !important;
  }

  .container__content{
    padding: 20px !important;

  }

  .filterContainer{
    margin-bottom: 20px !important;
  }

  .leftNavbar{
    display: none !important;
  }
}